<nav class="navbar">
    <div class="navbar-brand">Stamps Portal</div>
    <ul class="nav-list">
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/tenants">Tenants</NavLink></li>
        <li><NavLink href="/cells">Cells</NavLink></li>
        <li><NavLink href="/operations">Operations</NavLink></li>
        <li><a href="/docs/MANAGEMENT_PORTAL_USER_GUIDE.md" target="_blank">User Guide</a></li>
    </ul>
</nav>
