{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "globalPrefix": {
      "value": "stamps"
    },
    "environmentType": {
      "value": "dev"
    },
    "sqlAdminUsername": {
      "value": "sqladmin"
    },
    "sqlAdminPassword": {
      "value": "REPLACE_WITH_SECURE_PASSWORD"
    },
    "logRetentionInDays": {
      "value": 30
    },
    "regions": {
      "value": [
        {
          "geoName": "northamerica",
          "regionName": "eastus",
          "cells": ["cell1", "cell2"],
          "baseDomain": "eastus.contoso.com",
          "keyVaultName": "kv-northamerica-eastus",
          "logAnalyticsWorkspaceName": "law-northamerica-eastus"
        },
        {
          "geoName": "europe",
          "regionName": "westeurope", 
          "cells": ["cell1", "cell2"],
          "baseDomain": "westeurope.contoso.com",
          "keyVaultName": "kv-europe-westeurope",
          "logAnalyticsWorkspaceName": "law-europe-westeurope"
        }
      ]
    },
    "cells": {
      "value": [
        {
          "geoName": "northamerica",
          "regionName": "eastus",
          "cellName": "cell1",
          "baseDomain": "eastus.contoso.com",
          "keyVaultName": "kv-northamerica-eastus",
          "logAnalyticsWorkspaceName": "law-northamerica-eastus"
        },
        {
          "geoName": "northamerica",
          "regionName": "eastus",
          "cellName": "cell2",
          "baseDomain": "eastus.contoso.com",
          "keyVaultName": "kv-northamerica-eastus",
          "logAnalyticsWorkspaceName": "law-northamerica-eastus"
        },
        {
          "geoName": "europe",
          "regionName": "westeurope",
          "cellName": "cell1",
          "baseDomain": "westeurope.contoso.com",
          "keyVaultName": "kv-europe-westeurope",
          "logAnalyticsWorkspaceName": "law-europe-westeurope"
        },
        {
          "geoName": "europe",
          "regionName": "westeurope",
          "cellName": "cell2",
          "baseDomain": "westeurope.contoso.com",
          "keyVaultName": "kv-europe-westeurope",
          "logAnalyticsWorkspaceName": "law-europe-westeurope"
        }
      ]
    }
  }
}
